<div class="container">
    <div class="wrapper">
        <div class="nav">
            <a href="/help">
                <span class="nav-button" id="help-btn">HELP</span>
            </a>
            <a href="/login">
                <span class="nav-button" id="login-btn">LOG IN</span>
            </a> 
        </div>
        <div id="logo" class="shadow-box">
            <h1>FeastMind</h1>
        </div>
        <div class="nip-large"></div>
        <h2 id="headline">
            Read, manage and share<br/>
            all your papers <br/>anywhere, anytime
        </h2>
        
            <div id="signup" class="shadow-box">
			<span id="signup-button" ><a>Sign Up Free</a></span>
			
            
			<div id="signup-wrapper">
			<form action=" " method="post">
			<p><span><input value="Username" type="text" /> </span>
			<span><input value="password" type="password" /> </span><span><input style=" width:120px; " value="Email" type="text" /></span><span  ><input class="submitbutton"  value="SIGN UP" type="submit" /></span></p>
			
			</form>
			</div>
			</div>
                
        
        <div class="nip-large"></div>
    </div>
</div>
