// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
    text-decoration: none;
}
a {
    color: rgba(0, 0, 0, 0.8);
}
span.blue {
    color: #6EB3D1;
}
body {
    background: #E1E1E1 url(/assets/hatch.png) repeat fixed;
    font: normal 100% ClarendonFSLight, Georgia, Helvetica, Arial;
    position: relative;
}
body > .container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-image: url(/assets/horizontal.png);
    background-repeat: repeat;
    background-position: top;
}
body > .container > .wrapper {
    width: 987px;
    background-image: url(/assets/vertical-1.png);
    background-repeat: repeat-y;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto; 
    min-height: 600px;   
}
.nav {
    width: 405px;
    margin: 0 auto 50px auto;
    font: 12px/14px BryantMedium, Helvetica, Arial;
    height: 50px;
}
.nav-button {
    background-color: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    width: 115px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 0;
    float: left;
}
.nav a:first-child .nav-button{
    margin-right: 175px;
}
.nav-button:hover {
    background-color: rgba(110, 179, 209, 0.6);
    -webkit-transition: background-color 0.15s ease-in-out;
}
.shadow-box {
    -moz-box-shadow: 0 19px rgba(110, 179, 209, 0.6);
    -webkit-box-shadow: 0 19px rgba(110, 179, 209, 0.6);
    box-shadow: 0 19px rgba(110, 179, 209, 0.6);
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.77);
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
#logo {
    width: 405px;
    padding-top: 19px;
    padding-bottom: 28px;
    cursor: pointer;
}
#logo > h1 {
    font-size: 54px;
    font-family: ClarendonFSBold,Georgia,sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255, 0.75);   /*  title glow */
}
.logo {
    font-family: ClarendonFSBold,Georgia,sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255, 0.75);   /*  title glow */
}
.nip-large {
    height: 10px;
    background: url(/assets/large-nip.png) no-repeat center;
}
h2 {
    font-size: 54px;
    color: rgba(0, 0, 0, 0.77);
}
h3 {
    font-size: 16px;
    font-family: BryantMedium, Helvetica, Arial;
    text-transform: uppercase;
}
#headline {
    margin-bottom: 66px;
    margin-top: 58px;
    width: 100%;
    line-height: 1.2;
}
#signup {
    padding: 8px 0;
    width: 580px;
}
#signup #signup-wrapper{
	margin:0 auto;
	width:100%;
	display:none;
	
}
#signup-button a{
color:#6EB3D1;
font-size:18px;
cursor:pointer;
}

#signup-wrapper input{
	color:rgb(150,150,150);
	-webkit-border-radius:0.3em;
	height: 1.5em;
	border:1px solid #fff;
	padding-left:6px;
}
#signup-wrapper span{
	margin-left:10px;
	height:2em;
}
#signup-wrapper .submitbutton{
	background-color: #6EB3D1; color:#fff;   border-color:#6EB3D1;
	font-size:1em;
	cursor:pointer;
	}

 
#signup-wrapper p{
margin-top:5px;
	line-height:2em;
	height:2em;
}
#signup-wrapper input{
	width:110px;

}	
	
.login{


position:absolute;
   left:50%;
    top:50%;
	margin-left:-300px;
	margin-top:-100px;
	width:600px;
	height:150px;
	padding-bottom:25px;
	
	
	-webkit-border-radius:10px;
	border:4px solid rgba(87,182,203,0.9);
	background-color:rgba(50,50,50,1);
    color: white;
}

.login-form-wrapper{
margin-top:30px;

margin-left:20px;
}

.login-form-wrapper p span .field{
color:rgb(150,150,150);
padding:10px 20px;
width:215px;
font-size:16px;
-webkit-border-radius:4px;
border:1px solid #fff;

}

.login-button{
font-size:16px;
float:right;
position:relative;
display:block;
width:100px;
height:35px;
color:#fff;
margin-top:15px;
background-color:rgb(87,182,203);
-webkit-border-radius:4px;
border:1px solid rgb(87,182,203);
}
.login-tip {

position:relative;
color:#fff;
font-size:12px;}

.login-tip span{
padding-left:6px;
margin-top:-15px;
float:left;
margin-left:5px;
margin-right:5px;

text-decoration:underline;
}
.login-tip em{
padding-top:2px;
margin-top:-15px;
float:left;
color:#fff;
}
.login-tip span a{
color:rgba(87,182,203,0.9);
font-size:14px;
cursor:pointer;
}
.login-tip span a :hover{

}
.signup{
display:none;
	position:relative;
	
	margin:50px auto;
	padding-top: 35px;
	
   
	width:360px;
	padding-bottom:35px;
	
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border:4px solid rgba(87,182,203,0.9);
	background-color:rgba(50,50,50,1);
    color: white;

}
.signup h1{
top:10px;
left:44px;
position:absolute;
z-index:100;

margin-bottom:15px;
float:left;
font-size:24px;

height:35px;
color: rgba(87,182,203,1);
line-height:35px;
}
.signup-form-wrapper form {
position:relative;

 }

.signup-form-wrapper p{
    position:relative;
    margin-top:15px;
 }
.signup-form-wrapper .field {
    position:relative;
    color:rgb(150,150,150);
    padding: 10px 0px 10px 25px ;	
    width:250px;
    font-size:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border:1px solid #fff;
    height:20px;
    line-height:27px;
    background-color:#fff;
}
.signup-form-wrapper .field-email{
  
    background: #fff url(/assets/bg-email1.png) no-repeat 5px center;    
}
.signup-form-wrapper .field-email :focus{
    background: #fff url(/assets/bg-email2.png) no-repeat 5px center; 
     
}
.signup-form-wrapper .field-name{
    background: #fff url(/assets/bg-name1.png) no-repeat 5px center;
}
.signup-form-wrapper .field-name :focus{
    background: #fff url(/assets/bg-name2.png) no-repeat 5px center;
}
 
.signup-form-wrapper .field-password{
  background: #fff url(/assets/bg-password1.png) no-repeat 5px center;
}
.signup-form-wrapper p .check-icon{
  position:absolute;
  float:right;
height:20px;
width:20px;
top:9px;
right:45px;
border:1px solid #000;
 }

.signup-form-wrapper .signup-button{
    margin-top:15px;
    height:42px;
    line-height:42px;
    text-align:center;
    color:#fff;
    font-size:18px;
    width:277px;
    background-color:rgba(87,182,203,0.9);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid rgba(87,182,203,0.8);
}
.signup-form-wrapper .erron-alert{
background-color:rgba(230,0,18,0.2);
    text-align:left;
    text-indent:10px;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:4px;
    width:272px;
    margin:15ddpx auto 0;
    border:1px dashed rgba(87,182,203,1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    font-size:14px;

}

.alert {
  color:#f00;
  margin: 0 0 18px 0;
}
