// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
    text-decoration: none;
}
a {
    color: rgba(0, 0, 0, 0.8);
}
span.blue {
    color: #6EB3D1;
}
body {
    background: #E1E1E1 url(/assets/hatch.png) repeat fixed;
    font: normal 100% ClarendonFSLight, Georgia, Helvetica, Arial;
    position: relative;
}
body > .container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-image: url(/assets/horizontal.png);
    background-repeat: repeat;
    background-position: top;
}
body > .container > .wrapper {
    width: 987px;
    background-image: url(/assets/vertical-1.png);
    background-repeat: repeat-y;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto; 
    min-height: 600px;   
}
.nav {
    width: 405px;
    margin: 0 auto 50px auto;
    font: 12px/14px BryantMedium, Helvetica, Arial;
    height: 50px;
}
.nav-button {
    background-color: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    width: 115px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 0;
    float: left;
}
.nav a:first-child .nav-button{
    margin-right: 175px;
}
.nav-button:hover {
    background-color: rgba(110, 179, 209, 0.6);
    -webkit-transition: background-color 0.15s ease-in-out;
}
.shadow-box {
    -moz-box-shadow: 0 19px rgba(110, 179, 209, 0.6);
    -webkit-box-shadow: 0 19px rgba(110, 179, 209, 0.6);
    box-shadow: 0 19px rgba(110, 179, 209, 0.6);
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.77);
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
#logo {
    width: 405px;
    padding-top: 19px;
    padding-bottom: 28px;
    cursor: pointer;
}
#logo > h1 {
    font-size: 54px;
    font-family: ClarendonFSBold,Georgia,sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255, 0.75);   /*  title glow */
}
.logo {
    font-family: ClarendonFSBold,Georgia,sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255, 0.75);   /*  title glow */
}
.nip-large {
    height: 10px;
    background: url(/assets/large-nip.png) no-repeat center;
}
h2 {
    font-size: 54px;
    color: rgba(0, 0, 0, 0.77);
}
h3 {
    font-size: 16px;
    font-family: BryantMedium, Helvetica, Arial;
    text-transform: uppercase;
}
#headline {
    margin-bottom: 66px;
    margin-top: 58px;
    width: 100%;
    line-height: 1.2;
}
#signup {
    padding: 8px 0;
    width: 580px;
}
#signup #signup-wrapper{
	margin:0 auto;
	width:100%;
	display:none;
	
}
#signup-button a{
color:#6EB3D1;
font-size:18px;
cursor:pointer;
}

#signup-wrapper input{
	color:rgb(150,150,150);
	-webkit-border-radius:0.3em;
	height:1.5em;
	border:1px solid #fff;
	padding-left:6px;
}
#signup-wrapper span{
	margin-left:10px;
	height:2em;
}
#signup-wrapper .submitbutton{
	background-color: #6EB3D1; color:#fff;   border-color:#6EB3D1;
	font-size:1em;
	cursor:pointer;
	}
 
#signup-wrapper p{
margin-top:5px;
	line-height:2em;
	height:2em;
}
#signup-wrapper input{
	width:110px;

}	
	
.login{


position:absolute;
   left:50%;
    top:50%;
	margin-left:-300px;
	margin-top:-100px;
	width:600px;
	height:150px;
	padding-bottom:25px;
	
	
	-webkit-border-radius:10px;
	border:4px solid rgba(87,182,203,0.9);
	background-color:rgba(50,50,50,1);
    color: white;
}

.login-form-wrapper{
margin-top:30px;

margin-left:20px;
}

.login-form-wrapper p span .field{
color:rgb(150,150,150);
padding:10px 20px;
width:215px;
font-size:16px;
-webkit-border-radius:4px;
border:1px solid #fff;

}

.login-button{
font-size:16px;
float:right;
position:relative;
display:block;
width:100px;
height:35px;
color:#fff;
margin-top:15px;
background-color:rgb(87,182,203);
-webkit-border-radius:4px;
border:1px solid rgb(87,182,203);
}
.login-tip {

position:relative;
color:#fff;
font-size:12px;}

.login-tip span{
padding-left:6px;
margin-top:-15px;
float:left;
margin-left:5px;
margin-right:5px;

text-decoration:underline;
}
.login-tip em{
padding-top:2px;
margin-top:-15px;
float:left;
color:#fff;
}
.login-tip span a{
color:rgba(87,182,203,0.9);
font-size:14px;
cursor:pointer;
}
.login-tip span a :hover{

}
.signup{
display:none;
	position:relative;
	
	margin:50px auto;
	padding:20px 30px;
	
   
	width:540px;
	padding-bottom:25px;
	
	
	-webkit-border-radius:10px;
	border:4px solid rgba(87,182,203,0.9);
	background-color:rgba(50,50,50,1);
    color: white;
}
.signup h1{
font-size:24px;
color:rgba(87,182,203,1);
}
.signup-form-wrapper form {
position:relative;
text-align:left;
 }
 .signup-form-wrapper label {
font-size:16px;
color:rgba(87,182,203,0.9);
 }
 .signup-form-wrapper p{
 position:relative;
margin-top:10px;
 }
 .signup-form-wrapper .field {
 position:relative;
 color:rgb(150,150,150);
padding:7px 10px;
width:190px;
font-size:16px;
-webkit-border-radius:4px;
border:1px solid #fff;

 }
 .signup-form-wrapper .signup-valid{

 position:absolute;
 margin-top:5px;
padding:5px 8px;
width:300px;
font-size:14px;
color:rgba(87,182,203,0.6);
border:1px solid rgba(87,182,203,0.6);
background-color:rgba(50,50,50,0.20);
margin-left:10px;
-webkit-border-radius:4px;

 }
.signup-form-wrapper .signup-button{

position:relative;
left:438px;

margin-top:15px;
  text-align:center;
  padding:5px 10px;
  color:#fff;
  font-size:18px;
  width:80px;
  height:24px;
  background-color:rgba(87,182,203,0.8);
-webkit-border-radius:4px;
border:1px solid rgba(87,182,203,0.8);
}
  